html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: blue;
}


#map {
  height: 75%;
  margin-top: 35%;
  margin-bottom: 35%;
  margin-left: 25%;
  margin-right: 25%;
}
